.container {
    width: 100%;
    text-align: center;
    height: 1200px;
    margin: 0;
}

.container-nav {
    height: 8%;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
}
.container-header {
  height: 10%;
  box-sizing: border-box;
  position: relative;
  padding-top: 2%;
  background-color: rgb(255, 230, 204);
}

.container-link {
    height: 40%;
    background-color: rgb(255, 230, 204);
    box-sizing: border-box;
    position: relative;
}

.container-bottom {
    height: 3%;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: rgb(0, 128, 128);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(255, 243, 230);
    color: rgb(0, 102, 102);
    text-decoration: none;
    
  }

  .active {
    color: rgb(0, 102, 102);
    background-color: rgb(255, 230, 204);
  }

#otsikko {
    font-family: 'Sacramento', cursive;
    color: rgb(0, 102, 102);
    font-size: 400%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

#titteli {
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  padding-bottom: 2%;
  color: rgb(0, 102, 102);
  background-color: rgb(255, 230, 204);
  height: 5%;
  box-sizing: border-box;
  position: relative;
}

  #esittely {
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: rgb(0, 102, 102);
    margin-left: 18%;
    margin-right: 18%;
    font-size: large;
  }

  #kuva {
    padding-top: 2%;
    height: 50%;
  }

  .button1 {
    padding: 12px 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
    border-radius: 4px solid rgb(0, 102, 102);
    background-color: white;
  }

  .yhteydenotto {
    background-color: rgb(255, 230, 204);
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    position: relative;
    height: 30%;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 102, 102);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  label {
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  #lähetä {
    padding-top: 5%;
    padding-bottom: 5%;
  }