.container {
    width: 100%;
    text-align: center;
    height: 1200px;
    margin: 0;
}

.container-nav {
    height: 8%;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
}
.container-header {
  height: 10%;
  box-sizing: border-box;
  position: relative;
  padding-top: 2%;
  background-color: rgb(255, 230, 204);
}

.container-bottom {
    height: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: rgb(0, 128, 128);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(255, 243, 230);
    color: rgb(0, 102, 102);
    text-decoration: none;
    
  }

  .active {
    color: rgb(0, 102, 102);
    background-color: rgb(255, 230, 204);
  }

#otsikko {
    font-family: 'Sacramento', cursive;
    color: rgb(0, 102, 102);
    font-size: 400%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .tnt {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-width: 600px;
    margin: auto;
  }

  .container-carousel {
    background-color: rgb(255, 230, 204);
    box-sizing: border-box;
    position: relative;
    height: 70%;
  }

  #esittely {
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    color: rgb(0, 102, 102);
    font-size: 100%;
    background-color: rgb(255, 230, 204);
    height: 12%;
    box-sizing: border-box;
    position: relative;
}