.container {
    width: 100%;
    text-align: center;
    height: 1000px;
    margin: 0;
}

.container-nav {
    height: 8%;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
}

.container-header {
    height: 32%;
    box-sizing: border-box;
    position: relative;
    padding-top: 25px;
    background-color: rgb(255, 230, 204);
}

#esittely {
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  color: rgb(0, 102, 102);
  margin-left: 18%;
  margin-right: 18%;
  font-size: large;
}

.container-bottom {
    height: 3%;
    padding-top: 2%;
    padding-bottom: 5%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-size: 150%;
    font-family: 'Sacramento', cursive;
    background-color: rgb(255, 230, 204);
    color: rgb(0, 128, 128);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: rgb(0, 128, 128);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(255, 243, 230);
    color: rgb(0, 102, 102);
    text-decoration: none;
    
  }

  .active {
    color: rgb(0, 102, 102);
    background-color: rgb(255, 230, 204);
  }

#otsikko {
    font-family: 'Sacramento', cursive;
    font-size: 600%;
    padding-top: 25px;
    color: rgb(0, 102, 102);
  }

  .tnt {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-width: 600px;
    margin: auto;
  }

  .container-carousel {
    background-color: rgb(255, 230, 204);
    box-sizing: border-box;
    position: relative;
    height: 90%;
  }